<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>ตั้งค่าพื้นฐาน</nb-card-header>
            <nb-card-body>
              <form>
                <div class="form-group">
                  <label for="maxRoundPerDay" class="label">จำนวนรอบในการส่งสินค้าต่อวันต่อคัน</label>
                  <input type="text" nbInput fullWidth id="maxRoundPerDay" placeholder="1">
                </div>
                <button type="submit" nbButton status="primary">Submit</button>
              </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>