<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>ตั้งค่าพื้นฐาน</nb-card-header>
            <nb-card-body>
              <form>
                <div class="form-group">
                    <label for="vehicleType" class="label">ประเภทยานพาหนะ</label>

                    <nb-select id="vehicleType" placeholder="กรุณาเลือกประเภทยานพาหนะ" [formControl]="selectedVehicleFormControl">
                        <nb-option value="1">รถกระบะมีคอก</nb-option>
                        <nb-option value="2">รถกระบะมีหลังคา</nb-option>
                    </nb-select>
                </div>
                
                <button type="submit" nbButton status="primary">Submit</button>
              </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>